.entry-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color : blue;
    padding: .5rem 1rem;
    font-size: 2rem;
    color: white;
    font-family: poppins;
}